.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.form input {
  width: 200px;
  height: 30px;
  border: none;
  box-shadow: -1px 10px 10px -6px #d3145a;
  -webkit-box-shadow: -1px 10px 10px -6px #d3145a;
  -moz-box-shadow: -1px 10px 10px -6px #d3145a;
}
